@import "./resets";
@import "./variables";

.border {
  border: 1px solid blue;
}

.container {
  // border: 1px solid blue;

  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.page {
  margin-bottom: 4rem;
}
.col {
  // border: 1px solid green;
  // width: 100%;
  display: flex;
  flex-direction: column;
}
.row {
  // border: 1px solid yellow;
  height: 100%;
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

// ------ nav -------

.nav-bar {
  background-color: rgb(38, 38, 38);
}
nav {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  img {
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 2.4rem;
    width: 2.4rem;
  }
  .brand-row {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
  }
  a {
    margin: auto;
    padding: 0;
    color: $text-white;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: $hover;
    }
  }
  ul {
    display: flex;
  }
  li {
    margin: 10px;
  }
}

.brand {
  // border: 1px solid red;
  color: white;
  font-size: 2rem;
}

// ------- end nav --------
//-----content-----
.content {
  // padding: 1rem;
  // padding-bottom: 4rem;
  height: 100%;
  width: 90vw;
  max-width: 1080px;
  box-shadow: 5px 10px 18px #9b9b9bd3;
  p {
    padding: 1rem;
    text-align: left;
  }
  &:nth-child(odd) {
    background: rgb(238, 238, 238);
  }
  ul {
    border-bottom: 1px solid #9b9b9bd3;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .work-history {
    border-bottom: 1px solid #9b9b9bd3;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;

    text-align: left;
    li {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
  .heading {
    font-weight: bold;
  }
}
.image-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.pic {
  width: 285px;
}
.green {
  color: $green;
  font-weight: bold;
}
.line {
  border-top: 1px solid #9b9b9bd3;
  padding-top: 1rem;
}
.heading {
  color: $hover;
  text-align: center;
}
.downloads {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  form {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
  }
}
.projects {
  p {
    text-align: center;
  }
}
.my-form {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-form-row {
}
//-----end content-----
//-----foooter-----
footer {
  border-top: 2px solid darkgray;
  // border: 1px solid red;
  background-color: lightgrey;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  .row {
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
  }
  a {
    margin: auto;
    padding: 0;
    color: $text-white;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: $hover;
    }
  }
}
.footer-name {
  font-weight: bold;
  color: $green;
}
//-----end foooter-----

//-----modifiers-----
.hide-on-mobile {
  display: none;
}
//-----end modifiers-----

// ------------ headshot img ----------------
.frame {
  border-radius: 75px;
  background: rgb(170, 170, 170);
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(250, 250, 250, 1) 40%,
    rgba(250, 250, 250, 1) 60%,
    rgba(230, 230, 230, 1) 100%
  );
  padding: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.frame-edge {
  border-radius: 73px;
  background: rgb(170, 170, 170);
  background: linear-gradient(
    45deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(250, 250, 250, 0.5) 10%,
    rgba(250, 250, 250, 0.5) 90%,
    rgba(230, 230, 230, 1) 100%
  );
  padding: 5px;
}
.glass {
  /* border: 3px solid rgba(170, 170, 170, 1) 100%; */
  border-radius: 70px;
  padding: 10px;
  background-color: black;
}
.head-shot img {
  filter: grayscale(100%);
  border-radius: 55px;
  height: 292px;
  width: 240px;
  padding: 10px;
}
.headshot {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

// ------------ end headshot img ----------------

@media (min-width: 560px) {
  // ------------ headshot img ----------------
  .frame {
    border-radius: 75px;
    background: rgb(170, 170, 170);
    background: linear-gradient(
      90deg,
      rgba(230, 230, 230, 1) 0%,
      rgba(250, 250, 250, 1) 40%,
      rgba(250, 250, 250, 1) 60%,
      rgba(230, 230, 230, 1) 100%
    );
    padding: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  }
  .frame-edge {
    border-radius: 73px;
    background: rgb(170, 170, 170);
    background: linear-gradient(
      45deg,
      rgba(230, 230, 230, 1) 0%,
      rgba(250, 250, 250, 0.5) 10%,
      rgba(250, 250, 250, 0.5) 90%,
      rgba(230, 230, 230, 1) 100%
    );
    padding: 5px;
  }
  .glass {
    /* border: 3px solid rgba(170, 170, 170, 1) 100%; */
    border-radius: 70px;
    padding: 10px;
    background-color: black;
  }
  .head-shot img {
    filter: grayscale(100%);
    border-radius: 55px;
    height: 448px;
    width: 368px;
    padding: 10px;
  }
  // ------------ end headshot img ----------------

  .pic {
    width: 400px;
  }
}

@media (min-width: 760px) {
  .pic {
    width: 700px;
  }
  //-------nav----------
  nav {
    flex-direction: row;
    // border: 1px solid blue;
    justify-content: space-around;
    align-items: center;
  }

  //----------end nav-------
  .hide-on-mobile {
    display: inherit;
  }
  .downloads {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    form {
      padding: 0.5rem;
      display: flex;
      justify-content: center;
    }
  }
}
