<footer class="footer">
  <div class="container">
      <div class="col">
<div class="feedback" id="myFeedback" >
        <div class="row justify-center">
          <form action="/Node/Feedback" method="POST">
            <div class="col">
                <label for="email">Email&nbsp;</label>
                <input type="email" name="email" id="email" class="dropbtnup"  />
               </div>
<div class="col">
                <label for="comment">Questions/Comments&nbsp;</label>
                <textarea name="comment" id="comment" class="dropbtnup"  ></textarea>
          </div>
          <div class="col">
<input class="green" type="submit" value="Send Feedback">
          </div>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
          </form>
        </div>
      </div>
        <div class="row justify-around">
          <a  class="feedback-toggle dropbtnup"  onclick="myToggle('myFeedback')" >feedback</a>
          <a href="/Exp/Resume">resumé</a>  
          <a href="mailto:dev@colbyholmstead.com?
          subject=Schedule%20Interview%20Time">email</a>
        </div>
        <div class="row justify-around footer-name">
          <div>
            <p>Colby Holmstead 2020</p></div>
        </div>
      </div>
  </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>