<footer>
  <div class="container">
    <div class="row">
      <a href="#">feedback</a>
      <a href="#">resumé</a>  
      <a href="#">interview</a>
    </div>
    <div class="row">
        <p>Colby Holmstead 2018</p>
    </div>
  </div>
</footer>
</body>
</html>