<footer class="">
  <div class="container">
      <div class="col">
        <div class="row justify-around">
          <a href="#">feedback</a>
          <a href="/Exp/Resume">resumé</a>  
      
        
          <a href="#">interview</a>
        </div>
        <div class="row footer-name">
            <p>Colby Holmstead 2020</p>
        </div>
      </div>
  </div>
</footer>
</body>
</html>