<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>CH node.js</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <div class="container">
          <nav class="">
            <div class="col justify-center">
              <div class="nav-row">
                <div class="col justify-center">
                  <div class="row align-center">
                    <div class="">
                      <a href="/Node">
                        <img src="/images/Node.js_logo@2x.png" alt=""
                      /></a>
                    </div>
                    <div class="brand">
                      <a href="/">Colby Holmstead</a>
                    </div>
                  </div>
                </div>
                <div class="nav-links col">
                  <div class="row">
                    <div class="dropdown">
                      <a class="dropbtn" onclick="myToggle('myDropdown')">Me</a>
                    </div>
                    <div>
                      <a href="#">Fun</a>
                    </div>
                    <div>
                      <a href="https://github.com/dev-colbatronbmw"> GitHub</a>
                    </div>
                    <% if (typeof user === "undefined"){ %>
                    <div>
                      <a href="/User/LogIn">Log In</a>
                    </div>
                    <%}%> <% if (typeof user !== "undefined"){ %>
                    <div>
                      <a href="/User/Profile">Profile</a>
                    </div>
                    <div>
                      <a href="/User/Logout">Log out</a>
                    </div>

                    <%}%>
                  </div>
                </div>
              </div>

              <div class="dropdown-content" id="myDropdown">
                <div class="nav-links col justify-around">
                  <div class="row">
                    <div>
                      <a href="/About">About&nbsp;Me</a>
                    </div>
                    <div>
                      <a href="/Exp">Exp.</a>
                    </div>
                    <div>
                      <a href="/Other">Skills</a>
                    </div>
                    <div>
                      <a href="/Contact">Contact</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>
