<!DOCTYPE html>

<!-- Colby Holmstead -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i"
      rel="stylesheet"
    />
    <title>Good Morning</title>
  </head>

  <body>
    <header class="bg">
      <div>
        <h1>Good Morning</h1>
      </div>

      <nav>
        <ul>
          <li><a class="currentpage" href="index.html">Home</a></li>
          <li><a href="projects.html">School</a></li>
          <li><a href="skills.html">Skills</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
