<div class="col">
  <div class="headshot row justify-center">
    <div class="frame">
      <div class="frame-edge">
        <div class="glass">
          <div class="head-shot">
            <img src="/images/Holmstead.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
