<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>CH node.js</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
      <div class="container">
        <nav>
          <div class="row">
            <div><img src="/images/Node.js_logo@2x.png" alt="" /></div>
            <div class="brand">Colby Holmstead</div>
          </div>
          <div class="row">
            <div class="nav-links">
              <ul>
                <li>About Me</li>
                <li>Exp.</li>
                <li>Skills</li>
                <li>Contact</li>
                <li>GitHub</li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>
  </body>
</html>
