<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>CH node.js</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
      <div class="container">
        <nav>
          <div class="row">
            <div>
              <a href="/Node"> <img src="/images/Node.js_logo@2x.png" alt="" /></a>
             </div>
            <div class="brand">
              <a href="/">Colby Holmstead</a>
            
            </div>
          </div>
          <div class="row">
            <div class="nav-links">
              <ul>
                <li>
                  <a href="/About"> About Me</a>  
                 </li>
                <li>
                  <a href="/Exp">Exp.</a>
                 </li>
                <li>
                  <a href="/Other">Skills</a>
                  </li>
                <li>
                  <a href="/Contact">Contact</a>
                 </li>
                <li>
                  <a href="https://github.com/dev-colbatronbmw"> GitHub</a>
                 </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>
  </body>
</html>
