<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>CH node.js</title>
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <div class="container">
          <nav class="">
            <div class="brand-row">
              <div class="">
                <a href="/Node">
                  <img src="/images/Node.js_logo@2x.png" alt=""
                /></a>
              </div>
              <div class="brand">
                <a href="/">Colby Holmstead</a>
              </div>
            </div>
            <ul class="justify-around">
              <li>
                <a href="/About">
                  <span class="hide-on-mobile">About&nbsp;</span>
                  Me</a
                >
              </li>
              <li>
                <a href="/Exp">Exp.</a>
              </li>
              <li>
                <a href="/Other">Skills</a>
              </li>
              <li>
                <a href="/Contact">Contact</a>
              </li>
              <li>
                <a href="https://github.com/dev-colbatronbmw"> GitHub</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

