html,
body,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
  font-family: "Archivo Narrow", sans-serif;
}

body {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h2 {
  font-size: 42px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h4,
h5,
h6 {
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

fieldset,
img {
  border: 0;
}

legend {
  color: #000;
}

input,
textarea,
select,
button {
  font-size: 100%;
  line-height: 1.2em;
}

button {
  width: auto;
  overflow: visible;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

ul,
menu,
dir {
  list-style-type: disc;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}

li {
  list-style: none;
}

abbr,
acronym {
  border-bottom: 0.1em dotted;
  cursor: help;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

pre,
code {
  font-size: 100%;
  line-height: 1.2;
}

body,
html {
  font-family: "Inconsolata", monospace;
  height: 100%;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 10px #000000;
}

.bg {
  background-image: url("/images/landing-bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.name,
.title {
  height: auto;
  font-size: 2.9rem;
}

.links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40%;
  font-size: 1.4rem;
}

.under-construction {
  display: none;
}

.lang {
  font-size: 0.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

a {
  margin: auto;
  padding: 0;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

a:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-shadow: 1px 1px 1px #000000, 10px 20px 15px #000000, -4px -4px 15px #000000;
  font-size: 34px;
}

.disabled-link:hover {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  color: #8b8b8b;
}

.disabled-link:hover .under-construction {
  font-size: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: white;
}

.disabled-link:hover .framework {
  font-size: 30px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.disabled-link:hover .lang {
  font-size: 20px;
}

.enabled-link:hover {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.enabled-link:hover .under-construction {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: white;
}

.enabled-link:hover .lang {
  font-size: 20px;
}

p {
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) {
  .name {
    height: auto;
    font-size: 4rem;
  }
  .title {
    height: auto;
    font-size: 4.3rem;
  }
  .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 40%;
    font-size: 2rem;
  }
  .lang {
    font-size: 0.8rem;
  }
  .under-construction {
    display: inline;
    color: #8b8b8b;
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=main.css.map */