<%-include("shared/header")%>
<div class="container page">
  <div class="row justify-center"><%-include("shared/headshot")%></div>
  <div class="col page">
    <h3 class="heading">Colby Holmstead</h3>
    <div class="row justify-center">
      <div class="content">
        <h4 class="heading">Bio</h4>
        <p>
          I am a builder, from my personal life to my professional one. I thrive
          by creating things and fixing any problems that are in my way. As a
          developer, building beautiful-looking and beautifully-running
          applications is what drives me. I love to utilize efficient code for
          back-end and databases for use in user-based web and native
          environments. Whether it be building cars, businesses, or websites,
          completion of difficult projects gives me immense joy.
        </p>
      </div>
    </div>
    <h3 class="heading"></h3>
    <div class="row justify-center">
      <div class="content">
        <h4 class="heading">History</h4>
        <p>
          I was born in Sandy Utah and lived there until 1999 when my dad got a
          new engineering job we moved to the Seattle area. I graduated from
          Lake Stevens High School in 2006. Spent a few months just saving some
          money until I went on a 2 year volunteer church mission, I went to
          Guyana and Trinidad each for a year.
        </p>

        <p>
          When I got back I mostly worked in a few different sales positions
          then met my wife she made me wait for her to serve a volunteer mission
          in South Korea for 18 months. We got married in 2013. When I was
          getting married I decided to man up and got my real estate license. I
          still have my license today.
        </p>

        <p>
          After working some time in sales and as a real estate agent, I decided
          to return to school to pursue my passion and become a web/app
          developer. At first I thought I was just going to go and get certified
          as a front end developer but for that certification at the school I
          selected they make us take an into to programming class, that opened
          up my eyes. I found that I love to program so I switched things up and
          decided to do the 2 year degree and learn how to do the back end and
          how to program for iOS and Android. I took to it so well that my
          instructors hired me to be an “embedded” tutor. I even tutored
          students that were ahead of me in the program.
        </p>
      </div>
    </div>
  </div>
</div>
<%-include("shared/footer")%>
