<%-include("shared/header")%>

<div class="col page">
  <h3 class="heading">Contact</h3>
  <div class="row justify-center">
    <div class="content ">
    
      <form action="/Contact/Send" method="POST">
        <div class="my-form">
      <div class="my-form-row">
        <div class="my-form-col-1">
              <label for="firstName" class="">First Name:&nbsp;</label>
            </div>
            <div class="my-form-col-3">
              <input
                class=""
                type="text"
                name="firstName"
                id="firstName"
                value=""
              />
            </div>
          </div>
          <div class="my-form-row">
            <div class="my-form-col-1">
              <label for="lastName">Last Name:&nbsp;</label>
            </div>
            <div class="my-form-col-3">
              <input type="text" name="lastName" id="lastName" value="" />
            </div>
          </div>

          <div class="my-form-row">
            <div class="my-form-col-1">
              <label for="zip">Company:&nbsp;</label>
            </div>
            <div class="my-form-col-3">
              <input type="text" name="company" id="company" value="" />
            </div>
          </div>

          <div class="my-form-row">
            <div class="my-form-col-1">
              <label for="zip">Zip:&nbsp;</label>
            </div>
            <div class="my-form-col-3">
              <input type="text" name="zip" id="zip" value="" />
            </div>
          </div>
          <div class="my-form-row">
            <div class="my-form-col-1">
              <label for="phone">Phone:&nbsp;</label>
            </div>
            <div class="my-form-col-3">
              <input type="text" name="phone" id="phone" value="" />
            </div>
          </div>
          <div class="my-form-row">
            <div class="my-form-col-1">
              <label for="email">Email:&nbsp;</label>
            </div>
            <div class="my-form-col-3">
              <input type="text" name="email" id="email" value="" />
             
   </div>  
  
  </div> 
  <input class="green" type="submit"> 
</div>  
   </form>
  </div> 
  </div>
  </div>
</div>
<%-include("shared/footer")%>
