<%-include("shared/header")%>

<div class="col page">
  <h3 class="heading">Certifications</h3>
  <div class="row justify-center">
    <div class="content">
      <h4 class="heading">Spokane Community College</h4>
      <ul>
        <li>Associates In Applied Science - Software Development</li>
        <li>Computer Science</li>
        <li>Web Design</li>
        <li>Web Development</li>
        <li>.Net Developer</li>
        <li>Mobile Developer</li>
        <li>iOS Development</li>
        <li>Android Mobile Development</li>
        <br />
      </ul>
    </div>
  </div>
  <h3 class="heading">Classes</h3>
  <div class="row justify-center">
    <div class="content">
      <ul>
        <li class="heading">First Quarter</li>
        <br />
        <li>Software Math</li>
        <li>Computer Math</li>
        <li>HTML5/CSS I</li>
        <li>Web Graphics with Photoshop</li>
        <li>Introduction to Programming/C#</li>
        <br />
        <li class="heading">Term GPA 4.0</li>
      </ul>
      <ul>
        <li class="heading">Second Quarter</li>
        <br />
        <li>SQL</li>
        <li>HTML5/CSS II</li>
        <li>Programming I - Ruby</li>
        <li>Interpersonal Communication</li>
        <br />
        <li class="heading">Term GPA 3.780</li>
      </ul>
      <ul>
        <li class="heading">Third Quarter</li>
        <br />
        <li>JavaScript</li>
        <li>C#</li>
        <li>Programming II - Ruby</li>
        <br />
        <li class="heading">Term GPA 3.770</li>
      </ul>
      <ul>
        <li class="heading">Fourth Quarter</li>
        <br />
        <li>Mobile Development I</li>
        <li>PHP Programming</li>
        <li>Ruby on Rails</li>
        <br />
        <li class="heading">Term GPA 3.830</li>
      </ul>
      <ul>
        <li class="heading">Fifth Quarter</li>
        <br />
        <li>Mobile Development II</li>
        <li>ASP.NET</li>
        <li>Mobile Development IV-IOS</li>
        <li>Agile Software Development</li>
        <br />
        <li class="heading">Term GPA 4.0</li>
      </ul>
      <ul>
        <li class="heading">Sixth Quarter</li>
        <br />
        <li>Mobile Development III</li>
        <li>Job Preparation Techniques</li>
        <li>Mobile Development V-IOS</li>
        <li>Node.js</li>
        <br />
        <li class="heading">Term GPA 4.0</li>
      </ul>
      <h4 class="heading">Cumulative GPA 3.900</h4>
    </div>
  </div>
  <h3 class="heading">Projects</h3>
  <p class="heading">(At least the ones worth looking at)</p>
  <div class="row justify-center page">
    <div class="content">
      <p></p>
    </div>
  </div>
</div>
<%-include("shared/footer")%>
