<%-include("shared/header")%>

<div class="col page">
  <h3 class="heading">Certifications</h3>
  <div class="row justify-center">
    <div class="content">
      <h4 class="heading">Spokane Community College</h4>
      <ul>
        <li>Associates In Applied Science - Software Development</li>
        <li>Computer Science</li>
        <li>Web Design</li>
        <li>Web Development</li>
        <li>.Net Developer</li>
        <li>Mobile Developer</li>
        <li>iOS Development</li>
        <li>Android Mobile Development</li>
        <br />
      </ul>
    </div>
  </div>
  <h3 class="heading">Classes</h3>
  <div class="row justify-center">
    <div class="content">
      <ul>
        <li class="heading">First Quarter</li>
        <br />
        <li>Software Math</li>
        <li>Computer Math</li>
        <li>HTML5/CSS I</li>
        <li>Web Graphics with Photoshop</li>
        <li>Introduction to Programming/C#</li>
        <br />
        <li class="heading">Term GPA 4.0</li>
      </ul>
      <ul>
        <li class="heading">Second Quarter</li>
        <br />
        <li>SQL</li>
        <li>HTML5/CSS II</li>
        <li>Programming I - Ruby</li>
        <li>Interpersonal Communication</li>
        <br />
        <li class="heading">Term GPA 3.780</li>
      </ul>
      <ul>
        <li class="heading">Third Quarter</li>
        <br />
        <li>JavaScript</li>
        <li>C#</li>
        <li>Programming II - Ruby</li>
        <br />
        <li class="heading">Term GPA 3.770</li>
      </ul>
      <ul>
        <li class="heading">Fourth Quarter</li>
        <br />
        <li>Mobile Development I</li>
        <li>PHP Programming</li>
        <li>Ruby on Rails</li>
        <br />
        <li class="heading">Term GPA 3.830</li>
      </ul>
      <ul>
        <li class="heading">Fifth Quarter</li>
        <br />
        <li>Mobile Development II</li>
        <li>ASP.NET</li>
        <li>Mobile Development IV-IOS</li>
        <li>Agile Software Development</li>
        <br />
        <li class="heading">Term GPA 4.0</li>
      </ul>
      <ul>
        <li class="heading">Sixth Quarter</li>
        <br />
        <li>Mobile Development III</li>
        <li>Job Preparation Techniques</li>
        <li>Mobile Development V-IOS</li>
        <li>Node.js</li>
        <br />
        <li class="heading">Term GPA 4.0</li>
      </ul>
      <h4 class="heading">Cumulative GPA 3.900</h4>
    </div>
  </div>
  <h3 class="heading">Projects</h3>
  <p class="heading">(At least the ones worth looking at)</p>
  <div class="row justify-center page projects">
    <div class="content">
      <h4 class="heading">C#</h4>

      <p>
        At school we were introduced to coding with C# we did not focus a lot in
        it. Here are a few of my starting projects. I do want to show how far I
        have come. These are windows form applications and will only run on
        windows.
      </p>
      <div class="downloads">
        <form method="GET" action="/Exp/MovieTicket">
          <input class="heading" type="submit" value="Download Movie Ticket" />
        </form>
        <form action="/Exp/StudentList">
          <input class="heading" type="submit" value="Download Student List" />
        </form>
      </div>

      <p class="green">Unity Game</p>
      <p>
        My Last C# project was a Unity Game. I made it available below but you
        will need Unity installed to run it.
      </p>
      <div class="downloads">
        <form action="/Exp/UnityGameWindows">
          <input class="heading" type="submit" value="Windows" />
        </form>
        <form action="/Exp/UnityGameMac">
          <input class="heading" type="submit" value="Mac" />
        </form>
      </div>
      <div class="downloads">
        <form action="https://github.com/dev-colbatronbmw/UnityGame">
          <input class="heading" type="submit" value="GitHub Repository" />
        </form>
      </div>
      <h4 class="heading line">Ruby</h4>
      <p>
        This is the language that I have spent the most of my time. My teachers
        used ruby to teach us programing concepts. From what I hear most
        teachers love starting people out in C based languages. In my opinion
        Ruby was really awesome for learning with, because it is higher level
        and lets you focus on what was happening. Below are some of my projects
        they for the most part are in order of when they were done. These are
        very basic console applications and you will need a way to run them. If
        you go back to my main page and select ruby I will make these runnable
        in the browser on Rails (Pending).
      </p>
      <p class="green">Quarter One Downloads</p>
      <div class="downloads">
        <form action="/Exp/RPS">
          <input class="heading" type="submit" value="Rock Paper Scissors" />
        </form>
        <form action="/Exp/Products">
          <input class="heading" type="submit" value="Products" />
        </form>
        <form action="/Exp/ConnectFour">
          <input class="heading" type="submit" value="Connect 4" />
        </form>
      </div>
      <p class="green">Quarter Two Downloads</p>
      <div class="downloads">
        <form action="/Exp/Juke">
          <input class="heading" type="submit" value="JukeBox" />
        </form>
        <form action="/Exp/WordSearch">
          <input class="heading" type="submit" value="WordSearch" />
        </form>
      </div>

      <h4 class="heading line">Java</h4>
      <p>
        Our first quarter we focused a lot on just learning basics of java and
        learning the android quarks. Our second quarter we larked how to use
        local storage and then how to consume APIs by using other peoples APIs.
        The battle ship game plays against the instructors API. My project goes
        far above what was assigned, our instructor used drop down menus to
        play. I got the drag and drop to work, although I think I did it the
        hard way.
      </p>
      <p class="green">Quarter One Downloads</p>
      <div class="downloads">
        <form action="/Exp/Calculator">
          <input class="heading" type="submit" value="Calculator" />
        </form>
      </div>
      <p class="green">Quarter Two Downloads</p>
      <div class="downloads">
        <form action="/Exp/RecordsRoom">
          <input
            class="heading"
            type="submit"
            value="Records (local sotorage)"
          />
        </form>
        <form action="/Exp/RecordsApi">
          <input class="heading" type="submit" value="Records (api)" />
        </form>
        <form action="/Exp/Battleship">
          <input class="heading" type="submit" value="Battleship" />
        </form>
      </div>

      <h4 class="heading line">iOS</h4>
      <p>
        For iOS our final for both quarters was the same assignment but in the
        second quarter we continued it and learned how you use the local storage
        and turn it into a MVC application.
      </p>
      <p class="green">Quarter One Downloads</p>
      <div class="downloads">
        <form action="/Exp/RoShamBillQ1">
          <input class="heading" type="submit" value="Ro Sham Bill" />
        </form>
      </div>
      <p class="green">Quarter Two Downloads</p>
      <div class="downloads">
        <form action="/Exp/RoShamBillQ2">
          <input class="heading" type="submit" value="Ro Sham Bill" />
        </form>
        <form action="/Exp/PetTracker">
          <input class="heading" type="submit" value="Pet Tracker" />
        </form>
      </div>
      <p>
        This was a simple game that I made for my daughter who at the time was
        learning her letters. She probably clocked 200hrs into this game. And
        now she has no issues recognizing the letters.
      </p>
      <p class="green">Personal Project</p>
      <div class="downloads">
        <form action="/Exp/CaseMatch">
          <input class="heading" type="submit" value="Kids Matching Game" />
        </form>
      </div>
      <h4 class="heading line">Node.js</h4>
      <p>
        This part of my website is all in Node.js as well as the 2 following
        projects plankcooking is a site developed by my instructor and is live
        our final was to use node and copy the site as close as we could. The
        other was for my java class I had to build an API for my app to use. The
        API is hosted in Heroku
        <a href="https://shrouded-meadow-28431.herokuapp.com/add">here,</a> I
        did not make any good documentation on how to use it yet.
      </p>
      <div class="downloads">
        <form action="/Exp/NodeApi">
          <input class="heading" type="submit" value="API in Node.js" />
        </form>
        <form action="/Exp/PlankCooking">
          <input class="heading" type="submit" value="plankcooking" />
        </form>
      </div>
    </div>
  </div>
</div>
<%-include("shared/footer")%>
