<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />

    <title>ColbyHolmstead</title>
  </head>
  <body>
    <div class="bg">
      <div class="row">
        <div class="col">
          <div class="row name justify-center">
            <p class="white-text">Colby</p>
            <p class="white-text">Holmstead</p>
          </div>
          <div class="row title justify-center">
            <p>Full</p>
            <p>Stack</p>
            <p>Developer</p>
          </div>
          <!-- <div class="row timer">
          
          </div> -->

          <div class="row links justify-center">
            <div class="col align-center justify-around">
              <a href="#">node.js</a>
              <a href="#">Ruby</a>
              <a href="#">PHP</a>
              <a href="#">C#</a>
              <a href="#">Android</a>
              <a href="#">iOS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
