<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />

    <title>ColbyHolmstead</title>
  </head>
  <body class="bg">
    <div class="row">
      <div class="col">
        <div class="row name justify-center align-center">
          <p class="white-text">&nbsp;Colby&nbsp;</p>
          <p class="white-text">Holmstead</p>
        </div>

        <div class="row title justify-center">
          <p>&nbsp;Full&nbsp;</p>
          <p>Stack&nbsp;</p>
          <p>Developer</p>
        </div>
        <!-- <div class="row timer">
          
          </div> -->

        <div class="row links">
          <a href="/Node">Node</a>
          <a href="#" class="disabled-link">Ruby</a>
          <a href="#" class="disabled-link">PHP</a>
          <a href="#" class="disabled-link">C#</a>
          <a href="#" class="disabled-link">Android</a>
          <a href="#" class="disabled-link">iOS</a>
        </div>
      </div>
    </div>
  </body>
</html>
