<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />

    <title>ColbyHolmstead</title>
  </head>
  <body class="bg">
    <div class="row">
      <div class="col">
        <div class="row name justify-center align-center">
          <p class="white-text">&nbsp;Colby&nbsp;</p>
          <p class="white-text">Holmstead</p>
        </div>

        <div class="row title justify-center">
          <p>&nbsp;Full&nbsp;</p>
          <p>Stack&nbsp;</p>
          <p>Developer</p>
        </div>
        <!-- <div class="row timer">
          
          </div> -->

        <div class="row links">
          <a href="/Node">
            <div class="framework">Node</div>
            <div class="lang">JavaScript</div>
          </a>
          <a href="#" class="disabled-link">
            <div class="under-construction">Coming Soon</div>
            <div class="framework">Rails</div>
            <div class="lang">Ruby</div>
          </a>
          <a href="#" class="disabled-link">
            <div class="under-construction">Coming Soon</div>
            <div class="framework">Laravel</div>
            <div class="lang">PHP</div>
          </a>
          <a href="#" class="disabled-link">
            <div class="under-construction">Coming Soon</div>
            <div class="framework">ASP.NET</div>
            <div class="lang">C#</div>
          </a>
          <a href="#" class="disabled-link">
            <div class="under-construction">Coming Soon</div>
            <div class="framework">Android</div>
            <div class="lang">Java</div>
          </a>
          <a href="#" class="disabled-link">
            <div class="under-construction">Coming Soon</div>
            <div class="framework">iOS</div>
            <div class="lang">Swift</div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
