<%-include("shared/header");%>
<div class="container">
    <div class="page">
      <div class="col">
        <div class="row">
          <div class="frame">
            <div class="frame-edge">
              <div class="glass">
                <div class="head-shot">
                  <img src="/images/Holmstead.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="frame">
            <div class="frame-edge">
              <div class="glass">
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Deleniti, expedita vero? Deleniti alias dignissimos quidem
                    dolorem, debitis dolores aspernatur adipisci architecto
                    consectetur animi, facilis reiciendis vitae optio impedit
                    veritatis vel! Eveniet error suscipit, iusto, et atque vero
                    qui quo eos accusamus sapiente facilis nesciunt, harum eaque
                    earum molestias ullam quas ut fuga iste quia magni quibusdam
                    dolore. Rem, repudiandae vitae. Odit eligendi corporis
                    dolorem, odio quam beatae expedita quia eaque voluptate,
                    nemo asperiores veniam magni fugit neque natus et blanditiis
                    explicabo doloribus voluptatem perferendis non molestias
                    nobis harum placeat? Tenetur.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></div>
    </div>
  </body>
</html>
