<%-include("shared/header")%>
<div class="container">
  <div class="col page">
    <h3 class="heading">Node.js</h3>
    <div class="row justify-center">
      <div class="content">
        <p class="danger">
          **At this time much of the site is under construction, minimal styling
          until I get done with the other parts of this site.**
        </p>
        <p>
          Welcome to My Node.js Website. I am making my portfolio available in
          several languages. I started here with Node because it was the last
          thing I did in school. The other sites from the landing page will also
          be available as soon as they are complete. For this site I am having
          it hosted on my personal site. The other ones will be hosted for free
          on heroku. Please explore and take a look and please give me feedback.
        </p>
      </div>
    </div>
  </div>
</div>
<%-include("shared/footer")%>
