<%-include("shared/header")%>
<div class="container">
  <div class="col page">
    <h3 class="heading">Node.js</h3>
    <div class="row justify-center">
      <div class="content">
        <p class="danger">
          **At this time much of the site is under construction with minimal
          styling until I complete each area.**
        </p>
        <p>
          Welcome to My Node.js Website. I am making my portfolio available in
          several languages, and I started here with Node because it was the
          last thing I did in school. The other sites from the landing page will
          be available as soon as they are complete. This site will be hosted in
          two locations: “Testing and Development” will be at the Heroku
          location, the live site is at colbyholmstead.com. Please explore and
          give me feedback.
        </p>
      </div>
    </div>
  </div>
</div>
<%-include("shared/footer")%>
