<%-include("shared/header")%>

<div class="col page">
  <h3 class="heading">What Colby Do</h3>
  <div class="row justify-center">
    <div class="content">
      <p>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp I really do not know
        that to call this page. Here I have a collection of things that I am
        proud of and things that may be good to know about me as a person. I am
        someone who really loves people I know that is really odd to find in
        many coders. And I don’t mean that in a negative way. As far as I’ve sen
        most coders just have a shell that needs cracking. Not only have I
        cracked I have hatched into a beautiful majestic golden eagle. I have
        spent my entire adult life in sales, and really only because I love
        people. I have been in real estate for the last 7 years. My role as an
        agent was not the usual and normally takes some explaining. I worked for
        a listing agency that listed and sold homes for multiple new home
        builders. My job was to take all incoming leads from calls, email, and
        live chat. That came in for all the builders that my listing agency sold
        homes for, At one point we were up to 9 builders and something around 30
        communities. I was on call 24/7, if I missed a call at 2:00am my boss
        knew it and would sometimes call me in the morning and call me out on
        it. I loved doing that but as the company switched to new ownership they
        lost many of the builders that they were listing for and could no longer
        keep me around. So I kind of switched to doing general real estate but I
        took a long hard look at what I wanted to do for my career and real
        estate was not it. I have liked to tinker with techy things and had done
        an HTML/CSS bootcamp weekend a few years before and decided to take the
        dive. It has gone amazingly well.
      </p>
    </div>
  </div>
  <h3 class="heading">Work History</h3>
  <div class="row justify-center">
    <div class="content">
      <h4 class="heading"></h4>
      <ul class="work-history">
        <li class="heading">
          Software Development Imbedded Tutor, Spokane Community College
        </li>
        <li class="heading">Spokane, WA Feb 2020 - Present</li>
        <br />
        <li>
          • As a student I was singled out by the instructors in the Software
          Development department to be an online tutor for the students in my
          classes as well as underclassmen.
        </li>
        <br />
        <li>
          • Tutored in Ruby, C#, JavaScript, Kotlin, HTML/CSS, Rails, Node.js,
          PHP, Swift, Java, GIT, Bootstrap, Agile, ASP.NET Core
        </li>
      </ul>
      <ul class="work-history">
        <li class="heading">Online Sales Counselor at TeamBuilder KW</li>
        <li class="heading">Kirkland WA April 2013 - February 2018</li>
        <br />
        <li>
          • Manage all incoming inquiries from potential homebuyers 24/7.
          Builders like MainVue Homes in the Seattle and Dallas area hold me
          solely responsible for transitioning potential homebuyers to
          representatives or to answer any questions/concerns immediately. On
          average 30+ calls/online inquiries a day are made, in which I must
          respond in less than 5 minutes
        </li>
        <br />
        <li>
          • Responsibility for the 9+ builders is to get people into the Sales
          Models. I track inventory for each builder, which can be in the
          thousands of lots. Each lot is different, and each home has specific
          features.
        </li>
        <br />
        <li>
          • Use Excel weekly to report on calls, emails and sales from those
          activities.
        </li>
        <br />
        <li>• 2014 New Home Councils “Sales Counselor of the Year”</li>
        <br />
        <li>• Licensed agent January 2013 - Present</li>
      </ul>
      <ul class="work-history">
        <li class="heading">Sales Associate at Radio Shack</li>
        <li class="heading">Everett WA, March 2010 - December 2012</li>
        <br />
        <li>
          • Sales Floor Associate and team lead focused on sales and technology.
          Management of retail sales as well as employee management.
        </li>
        <br />
      </ul>
      <ul class="work-history">
        <li class="heading">Janitor at Team Fitness</li>
        <li class="heading">Lake Stevens WA, August 2009 - March 2010</li>
        <br />
        <li>• Cleaned the gym equipment and building overnight.</li>
        <br />
        <li>
          • Worked front desk at late/early hours to sign patrons up for
          memberships.
        </li>
      </ul>
      <ul class="work-history">
        <li class="heading">Volunteer Church Missionary</li>
        <li class="heading">West Indies, August 2007 – August 2009</li>
        <br />
        <li>
          • Missionary for The Church of Jesus Christ of Latter-day Saints in
          Guyana and Trinidad
        </li>
        <br />
      </ul>
      <ul class="work-history">
        <li class="heading">Sales at Target</li>
        <li class="heading">Lake Stevens WA, September 2006 - July 2007</li>
        <br />
        <li>
          • Specialist (Manager) in the electronics department. Specialized in
          sales and inventory merchandizing and scheduling.
        </li>
        <br />
      </ul>
      <ul class="work-history">
        <li class="heading">CAD Drafter at Engineering Economics Inc.</li>
        <li class="heading">
          Seattle WA, June 2005 – September 2005 (summer job)
        </li>
        <br />
        <li>
          • Worked with Engineers and Designers to convert paper markups to
          AutoCAD Drawings
        </li>
        <br />
      </ul>
    </div>
  </div>
  <h3 class="heading">Mission</h3>
  <div class="row justify-center">
    <div class="content">
      <h4 class="heading"></h4>
      <p>
        Beginning in 2007 I went on a two year volunteer mission. I did not
        choose the location, but was sent to the West Indies (Caribbean). I
        lived in Guyana in South America for one year. Guyana is on the
        SouthEast boarder of Venezuela. My second year was spent In Trinidad and
        Tobago. An Island nation just off the coast of Venezuela. I learned a
        lot living in these countries. The biggest lesson I took away was how to
        work hard. And how much you could love the people you serve.
      </p>
      <div class="image-row">
        <img
          class="pic"
          src="/images/mission/MissionPic.jpg"
          alt="mission picture"
        />
      </div>
    </div>
  </div>
  <h3 class="heading">Car Stuff</h3>
  <div class="row justify-center page">
    <div class="content">
      <h4 class="heading">e30</h4>
      <p>
        I got my car in 2009 for $600 with 265k miles on it. I fell in love with
        it. It was more reliable than any car my family had ever owned. I drove
        it until it had 330k miles on it and then I swapped in a faster motor
        that my friend built for his e30. That was in 2013. The car has never
        spent more than one month off the road in the last 9 years. needless to
        say I am a bit attached.
      </p>
      <div class="image-row">
        <img class="pic" src="/images/cars/e30.jpg" alt="mission picture" />
      </div>
      <h4 class="heading">e34</h4>
      <p>
        This car was really bought for my wife. We got it for $2600 in 2015. It
        had about 230k miles on it but the reason it cost this much is the
        Wagons are rare. And in 2017 the head gasket failed at 250k miles. I
        rebuilt the whole motor myself. And so far so good.
      </p>
      <div class="image-row">
        <img class="pic" src="/images/cars/e34.jpg" alt="mission picture" />
      </div>
    </div>
  </div>
</div>
<%-include("shared/footer")%>
