<%-include("./shared/header");%>

<div class="wrapper">
  <main>
    <div class="page-header">
      <h2>WELCOME</h2>
    </div>

    <section id="welcome" class="row">
      <p>
        I created Good Morning to chronicle and share what I've learned since
        enrolling in school in 2018. Please take a look around and see what I
        have done and can do. "<a href="projects.html">School</a>" will show you
        some of the projects I made, "<a href="skills.html">Skills</a>" is my
        resume.
      </p>
    </section>
    <section class="row">
      <div class="row-footer">
        <div class="flex-column">
          <div class="top">
            <h2>Bio</h2>
          </div>
          <div class="bottom">
            <img src="images/DownArrow.png" alt="Down Arrow" />
          </div>
        </div>
      </div>
      <div class="flex-row">
        <div class="left">
          <figure>
            <img src="images/siteHeadshot.png" alt="mutedPic" />
            <figcaption>Colby Holmstead</figcaption>
          </figure>
        </div>

        <div class="right">
          <p>
            I named my portfolio “Good Morning” because I am a morning person. I
            wake up like the sun because I know every day is glorious when you
            are doing what you love. I was born in Sandy Utah and lived there
            until 1999 my dad got a new engineering job and we moved to the
            Seattle area. I graduated from Lake Stevens High School in 2006. I
            lived abroad in both Guyana and Trinidad &#38; Tobago each for a
            year. When I got back I worked in a few different sales positions
            then met my wife she made me wait for her to serve a volunteer
            mission in South Korea for 18 months. We got married in 2013. I also
            started working as a real estate agent in 2013. I still have my
            license today. After working some time in sales and as a real estate
            agent, I decided to return to school to pursue my passion and become
            a web/app developer. My biggest hobby is that I love working on old
            BMWs and because of that I am somewhat of a mechanic as well. I
            pride myself on being unique, meticulous, and on stretching myself
            as often as I can. Thank you for taking the time to check me out.
          </p>
        </div>
      </div>
    </section>
  </main>
</div>

<%-include("./shared/footer");%>
