<%-include("../shared/header")%>

<div class="col page">
  <h3 class="heading">You Forgot Your Password?</h3>
  <div class="row justify-center">
    <div class="content">
      <div class="col justify-center">
        <div class="row justify-center">
          <p>
            Guess What?! I actually dont know it either. I will have to email
            you a link to let you reset it.
          </p>
        </div>

        <div class="row justify-center">
          <% if (message.length > 0) { %>
          <div class="alert danger row justify-center">
            <p>**<%= message %>**</p>
          </div>
          <% } %>
        </div>
        <form action="/User/Forgot/Password" method="POST">
          <div class="row align-center justify-center">
            <div class="my-form-col-1">
              <label for="email">Enter Email Address:&nbsp;</label>
            </div>
            <div class="my-form-col-3">
              <input
                type="text"
                name="email"
                id="email"
                required
                oninvalid="this.setCustomValidity('You have must enter your email address') "
              />
            </div>
          </div>
          <br />
          <div class="row justify-center">
            <input
              class="green"
              type="submit"
              value="Send Email To Reset Password"
            />
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          </div>
        </form>

        <br />
      </div>
    </div>
  </div>
</div>

<%-include("../shared/footer")%>
