<%-include("../shared/header")%>

<div class="col page">
  <h3 class="heading">Reset Password</h3>
  <div class="row justify-center">
    <div class="content">
      <div class="col justify-center">
        <div class="row justify-center">
          <p>Ok now please remember this one...please</p>
        </div>

        <div class="row justify-center"></div>
        <form action="/User/Forgot/Password/Reset" method="POST">
          <div class="row align-center justify-center">
            <div class="my-form-col-1">
              <label for="password">Enter New Password:&nbsp;</label>
            </div>
            <div class="my-form-col-3">
              <input
                type="password"
                name="password"
                id="password"
                required
                oninvalid="this.setCustomValidity('You must enter your new Password') "
              />
            </div>
          </div>
          <br />
          <div class="row justify-center">
            <input
              type="hidden"
              name="email"
              id="email"
              value="<%= user.userEmail%>"
            />
            <input class="green" type="submit" value="Reset Password" />
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          </div>
        </form>

        <br />
      </div>
    </div>
  </div>
</div>

<%-include("../shared/footer")%>
