<%-include("../shared/header")%>

<div class="col page">
  <h3 class="heading">Profile</h3>
  <div class="row justify-center">
    <div class="content">
      <div class="col justify-center">
        <div class="row justify-center">
          <p class="danger">**area under construction.**</p>
          <% if (user.isAdmin > 0){ %>
          <div class="row justify-center"><p>Admin</p></div>
          <%} %>
        </div>
        <form action="/User/Edit/Password" method="POST">
          <div class="row align-center justify-center">
            <div class="my-form-col-1">
              <label for="oldPassword">Old Password:&nbsp;</label>
            </div>
            <div class="my-form-col-3">
              <input
                type="password"
                name="oldPassword"
                id="oldPassword"
                required
                oninvalid="this.setCustomValidity('You have must enter old password') "
              />
            </div>
          </div>
          <div class="row align-center justify-center">
            <div class="my-form-col-1">
              <label for="newPassword">New Password:&nbsp;</label>
            </div>
            <div class="my-form-col-3">
              <input
                type="password"
                name="newPassword"
                id="newPassword"
                required
                oninvalid="this.setCustomValidity('You have must enter new password') "
              />
            </div>
          </div>
       
        <div class="row justify-center">
       
            <input class="green" type="submit" value="Change Password" />
          </form>
        </div>
        <div class="row justify-center"></div>
      </div>
    </div>
  </div>
</div>

<%-include("../shared/footer")%>
