<%-include("../shared/header")%>

<div class="col page">
  <h3 class="heading">Profile</h3>
  <div class="row justify-center">
    <div class="content ">
        <p class="danger">
            **area under construction.**
          </p>
<p>User: <%=user%></p>
  </div> 
  </div>
  </div>
</div>
<%-include("../shared/footer")%>
